<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <title>Assessment Management</title>
        <!-- <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css"> 
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script> -->
        <link rel="stylesheet" href="../../../public/js/webix.trial.complete/webix/codebase/webix.css" type="text/css">
        <script src="../../../public/js/webix.trial.complete/webix/codebase/webix.js" type="text/javascript"></script>
        <script src="../../../public/js/src/components/Index.js" type="module"></script>
    </head>
    <body>

    </body>
</html>


<!-- {{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}} -->
